@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Moving Starfield Animation */
@keyframes move-twink-back {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

.stars-container {
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    background: transparent url('https://www.transparenttextures.com/patterns/twinkling.png') repeat top center;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}